@font-face {
  font-family: "tbc-regular";
  src: url("../fonts/TBCSailec-Regular.ttf");
}
@font-face {
  font-family: "tbc-black";
  src: url("../fonts/TBCSailec-black.ttf");
}
@font-face {
  font-family: "tbc-bold";
  src: url("../fonts/TBCSailec-bold.ttf");
}